@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Raleway";
    src: url('../font/raleway/Raleway-VariableFont_wght\ \(1\).woff') format('woff'); 
    font-weight: 700;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1, h2, h3, h4, h5{
    font-family: "Lato";
}


p{
    font-family: "Raleway", sans-serif;
}

footer{
    background-color: #17abb3;
    padding: 30px 1160px;
    color: #ffffff;
}