@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Raleway";
    src: url('../font/raleway/Raleway-VariableFont_wght\ \(1\).woff') format('woff'); 
    font-weight: 700;
}

body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;

}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 10px;

    font-family: "Raleway", sans-serif;
}



h1, h2, h3, h4, h5{
    font-family: "Lato";
}


p{
    font-family: "Raleway", sans-serif;
}

footer{
    background-color: #17abb3;
    padding: 30px 1160px;
    color: #ffffff;
}