@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Raleway";
    src: url('../font/raleway/Raleway-VariableFont_wght\ \(1\).woff') format('woff'); 
    font-weight: 700;
}

body{
    background-color: #f5f5f5;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cv{
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1160px;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 10px;
    color: #ffffff;
}



h1, h2, h3, h4, h5{
    font-family: "Lato";
    color: #17abb3;
}

header{
    background-color: #17abb3;
}
header h1, header h2{
    color: #ffffff;
}


p{
    font-family: "Raleway", sans-serif;
}

footer{
    background-color: #17abb3;
    padding: 30px 1160px;
    color: #ffffff;
}